
#container{
    margin: 10px auto;
    width: fit-content;
    border: 1px solid black;
    border-radius: 5px;
}

#field{
    border: 1px solid rgb(255, 0, 0);
    border-radius: 5px;
    height: 400px;
    width: 600px;
    margin: 10px;
    background-image: url('./img/pexels-fwstudio-33348-172276.jpg');
    background-position: center;
    
}

#control{
    /* border: 1px solid rgb(0, 0, 255); */
    margin: 10px;
}

#ball{
    border: 1px solid rgb(0, 0, 0);
    border-radius: 50%;
    height: 50px;
    width: 50px;
    background-color: beige;
    position: relative;
    /* background-image: url(./img/ฺฺBasketball.png); */
    background-size: cover;
    background-position: center;
    /* left: calc((300px - 50px - 2px)/2);
    top: calc((200px - 50px - 2px)/2); */

}